<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Film API</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      .film-card {
        transition: transform 0.3s;
      }

      .film-card:hover {
        transform: scale(1.03);
      }

      .film-poster {
        object-fit: cover;
        width: 100%;
        height: 600px;
      }
    </style>
  </head>
  <body>
    <header class="bg-dark text-white text-center py-2">
      <h1>Movies</h1>
      <p class="lead">Explore and manage films</p>
    </header>

    <section class="container my-5">
      <h2 class="text-center mb-4">Featured Films</h2>
      <div class="row" id="film-container"></div>
    </section>

    <footer class="bg-dark text-white text-center py-3">
      <p>&copy; baristaner</p>
    </footer>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const filmContainer = document.querySelector("#film-container");

        
        fetch(
          "/films"
        )
          .then((response) => response.json())
          .then((data) => {
            data.forEach((film) => {
              const filmCard = document.createElement("div");
              filmCard.className = "col-md-4 mb-4";

              filmCard.innerHTML = `
    <div class="card h-100 film-card">
        <img src="${film[5]}" class="film-poster" alt="Film Poster">
        <div class="card-body">
            <h5 class="card-title">${film[1]}</h5>
            <p class="card-text">Director: ${film[2]}</p>
            <p class="card-text">Genre: ${film[3]}</p>
            <p class="card-text">Review: ${film[4]}</p>
        </div>
    </div>
`;
              filmContainer.appendChild(filmCard);
            });
          })
          .catch((error) => console.error("Error fetching films:", error));
      });
    </script>
  </body>
</html>
